NODE_ENV=development
JWT_SECRET=4n4H3LoS3cr3tK3y_!@%
PORT=8000
DB_URL=postgres://admin:admin@localhost:5432/inventorycontroldb
FRONT_URL=http://192.168.15.30:3000
LOG_RULES=context=AppController;level=debug/level=warn